.home-background{
    background-color:#E3F2FD;
    
}

.logo1{
    font-family: Kavoon,cursive;
    font-weight: 300;
    font-size: 40px;
    line-height: 20px;
}
.logo2{
    font-family: Russo One;
    color: #EE1010;
    font-weight: 300;
    font-size: 40px;
    line-height: 20px;
}