.plan-card{
height: 350px;
width: 20rem;
}

.home-background{
    background-color:#E3F2FD;
    
}
.comments::-webkit-scrollbar{
    display: none;
}

.testimonials{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
 }
 .testimonials::-webkit-scrollbar {
    display: none;
  }